body {
    color: #f7f7f7;
}

select {
    color: #222232;
    background-color: #f7f7f7;
}

.jumbotron {
    background-color: #222222;
    text-align: center;
    background-image: url("../images/bacteria-header.jpeg");
}

.panel {
    background-color: #222222;
}

.panel-heading {
    background-color: #f7f7f7;
    color: #222222;
}

.well {
    background-color: #222222;
    border-color: #f7f7f7;
}

.well-bar {
    border-color: #f26f6f;
}

.well-gauge {
    border-color: #32cf92;
}

.well-bubble {
    border-color: #9669c8;
}

.chart {
    margin: auto;
}